/* form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    box-shadow: 0 2px 4px rgba(22, 21, 21, 0.951);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
} 

 .showPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.header {
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
}

.logo {
    width: 20%;
}

.LinkLogin {
    color: #F08010;
    text-decoration: none;
    font-weight: bold;
}

p {
    text-align: center;
}

.erro {
    color: red
}
 */